@media screen and (max-width: 768px){

    html {
        font-size: 15px;
    }
    body {
        width: 75vw;
    }

    #header-title {
        padding: 15px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    #main-section h2 {
        font-size: 3rem;
    }

    #header-nav {
        display: none;
    }

    #main-section div {
        display: flex;
        justify-content: center;
    }





}