html {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5em;
}

nav h1 {
  color: #5d13e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 1.4em;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul {
  width: 300px;
  /*old version: 400px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22px;
  margin-right: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #3a506b;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: #5d13e7;
}

nav a:active {
  color: #5010c7;
}

.left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50px;
  bottom: 100px;
  width: 27px;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27px;
  height: 27px;
}

.right-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
  bottom: 115px;
  width: 15px;
  height: 120px;
}

.right-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  min-height: 650px;
}

.container .content {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}

.container .head-page-container {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  height: 100vh;
  background-color: #5010c7;
  border-radius: 10px;
}

.head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-container h1 {
  color: #fff;
  margin-top: 30px;
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  height: 200px;
  display: inline-block;
  font-size: clamp(40px, 8vw, 80px);
  line-height: 90px;
  position: relative;
  top: 10%;
}

.head-container p {
  display: inline-block;
  color: #ffffffa4;
  margin-top: 10px;
  width: 100%;
  max-width: 750px;
  font-size: clamp(13px, 5vw, 18px);
  position: relative;
  top: 10%;
}

.head-container a {
  position: relative;
  top: 20%;
}

.head-container svg {
  fill: #fff;
}

.about-container h2 {
  color: #5d13e7;
  font-size: clamp(30px, 4vw, 40px);
}

.about-container p {
  color: #3a506b;
  margin-top: 25px;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  font-weight: 400;
}

.about-container p > b {
  color: #5d13e7;
  font-weight: 300;
}

.work-container h2 {
  color: #5d13e7;
  font-size: clamp(30px, 4vw, 40px);
}

.work-container p {
  color: #17b978;
  margin-top: 10px;
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
}

.work-container a > p {
  margin-top: 10px;
}

.work-container a > p > b {
  color: #5d13e7;
  font-weight: 300;
}

svg {
  fill: #8e9092;
}

svg:hover {
  fill: #5d13e7;
}

footer {
  width: 100vw;
  height: 100vh;
  background-color: #5010c7;
}

footer h2 {
  color: #5d13e7;
  font-size: clamp(30px, 4vw, 40px);
}

footer p {
  color: #17b978;
  margin-top: 10px;
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
}
/*# sourceMappingURL=sass.css.map */
