@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
  --color-primary: #0bd8a2;/*#2edbe3;*/
  --color-secondary: #7b86a4;
  --color-dark: #1d2433; /*423f6a*/
  --color-light: #c2cee9;
}
::selection{
  color: #56aa94;
  background-color: #7b86a45d;
}
/*                                (( [ default ] ))                                */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-dark); 
  overflow: scroll;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
/*=================================================================================================================
        nav
================================================================================================================= */
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 100px;
}
nav h1 {
  user-select: none;
  display: flex;
  position: relative;
  margin-left: 22px;
  margin-right: 22px;
  color: var(--color-primary);
  font-size: 1.4em;
  font-weight: 500;
}
nav ul {
  width: 400px;
  display: flex;
  margin-left: 22px;
  margin-right: 22px;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: var(--color-light);
  font-weight: 600;
  font-size: 16px;
}
nav a:hover {
  color: var(--color-primary);
}
nav svg {
  fill: var(--color-secondary);
}
nav svg:hover {
  fill: var(--color-primary);
}

/*                                (( [ special ] ))                                */
.container {
  width: 100%;
  height: 100vh;
  min-height: 650px;
}
.content {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}
.left-menu {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  align-items: center;
  left: 50px;
  bottom: 100px;
  width: 27px;
  height: 150px;
  justify-content: space-between;
}
.left-menu a {
  display: flex;
  width: 27px;
  height: 27px;
}
.right-menu a {
  display: flex;
  width: 15px;
  height: 15px;
}
.social-media {
  fill: var(--color-secondary);
}
.social-media:hover {
  fill: var(--color-primary);
}
.right-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 50px;
  bottom: 115px;
  width: 15px;
  height: 120px;
}
/*                                (( [ first page ] ))                                */
.head-title {
  margin-top: 30px;
  color: var(--color-light);
  width: 100%;
  min-width: 600px;
  max-width: 700px;
  display: inline-block;
  font-size: clamp(40px, 8vw, 70px);
  line-height: 90px;
}
.head-desc {
  margin-top: 30px;
  width: 100%;
  max-width: 750px;
  color: var(--color-secondary);
  font-size: clamp(13px, 5vw, 18px);
}
.head-msg {
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  max-width: 750px;
}

/*                                (( [ page ] ))                                */
.page-title {
  color: var(--color-light);
  font-size: clamp(30px, 4vw, 40px);
}
.page-desc {
  margin-top: 25px;
  width: 100%;
  max-width: 700px;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
}
.page-desc b {
  color: var(--color-primary);
  font-weight: 300;
}
.page-contact-button {
  margin-top: 15px;
}
/*========================================================================================================
========================================================================================================*/
/*                                (( [ media ] ))                                */
.project-container {
  margin-top: 35px;
  width: 100%;
  max-width: 700px;
  height: 400px;
  background-color: var(--color-dark);
  border-radius: 20px;
  z-index: 1;
}
/*========================================================================================================
Media
========================================================================================================*/
@media screen and (max-width: 768px) {
  .head-title {
    margin: 0 auto;
    min-width: 400px;
    line-height: 60px;
  }
  .head-desc {
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 400px;
  }
  .head-msg {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    max-width: 400px;
  }
  .page-desc {    
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 400px;
  }
  .mobile-display {
    display: none;
  }
  .container{
    min-height: 400px;
    max-height: 500px;
  }
  .container-about-mobile{
    max-height: 700px;
  }
  .content {
    width: 100%;
    max-height: 500px;
    text-align: center;
    justify-content: center;
  }
  .page-title-work-mobile{
    margin-top: 20px;
  }
}
/*========================================================================================================
Dark Theme
========================================================================================================*/
.dark-mode {
  --color-primary: rgb(255, 0, 0);
  --color-secondary: #1d3233;
  --color-light: #1d2433;
  --color-dark: #0bd8a2;
}
/*========================================================================================================
Loader
========================================================================================================*/
/*.loader {
  background-color: #12161f;
  width: 100vw;
  height: 100vh;
}*/

/*========================================================================================================
Animations
========================================================================================================*/
.animation-dropIn {
  animation: dropIn 1s ease forwards;
  animation-delay: calc();
}
.animation-slideIn {
  animation: slideIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: calc();
}
.animation-fadeIn {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*========================================================================================================
Animation Delays
========================================================================================================*/
.animation-delay-100ms{
  animation-delay: 100ms;
}
.animation-delay-200ms{
  animation-delay: 200ms;
}
.animation-delay-300ms{
  animation-delay: 300ms;
}
.animation-delay-400ms{
  animation-delay: 400ms;
}
.animation-delay-500ms{
  animation-delay: 500ms;
}
.animation-delay-600ms{
  animation-delay: 600ms;
}
.animation-delay-700ms{
  animation-delay: 700ms;
}
.animation-delay-800ms{
  animation-delay: 800ms;
}
/*========================================================================================================
Keyframes
========================================================================================================*/
@keyframes dropIn {
  from {transform: translateY(-50px);}
  to { transform: translateY(0);}
}
@keyframes slideIn {
0% 
  { transform: translateX(-100px);
    opacity: 0; }
100% 
  { transform: translateX(0);
    opacity: 1; }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*========================================================================================================
========================================================================================================*/
