@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
  --color-primary: hsl(164, 90%, 45%);/*#2edbe3;*/
  --color-secondary: hsl(224, 18%, 56%);
  --color-dark: hsl(221, 28%, 16%); /*423f6a*/
  --color-light: hsl(222, 47%, 84%);
}
::selection{
  color: hsl(164, 33%, 50%);
  background-color: hsla(224, 18%, 56%, 0.365);
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-dark); 
  overflow: scroll;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100vh;
}

/*                                (( [ special ] ))                                */

svg {
  fill: var(--color-secondary);
}
svg:hover {
  fill: var(--color-primary);
}
/*========================================================================================================
========================================================================================================*/
/*                                (( [ media ] ))                                */
/*========================================================================================================
Media
========================================================================================================*/
@media screen and (max-width: 768px) {
  .head-title {
    margin: 0 auto;
    min-width: 400px;
    line-height: 60px;
  }
  .head-desc {
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 400px;
  }
  .head-msg {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    max-width: 400px;
  }
  .page-desc {    
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 400px;
  }
  .mobile-display {
    display: none;
  }
  .container{
    min-height: 400px;
    max-height: 500px;
  }
  .container-about-mobile{
    max-height: 700px;
  }
  .content {
    width: 100%;
    max-height: 500px;
    text-align: center;
    justify-content: center;
  }
  .page-title-work-mobile{
    margin-top: 20px;
  }
}
/*========================================================================================================
Dark Theme
========================================================================================================*/
.lightMode {
  --color-primary: rgb(255, 0, 0);
  --color-secondary: #1d3233;
  --color-light: #1d2433;
  --color-dark: #0bd8a2;
}
.darkMode {
  --color-primary: #;
  --color-secondary: #;
  --color-light: #;
  --color-dark: #;
}
/*========================================================================================================
Loader
========================================================================================================*/
/*.loader {
  background-color: #12161f;
  width: 100vw;
  height: 100vh;
}*/

/*========================================================================================================
Animations
========================================================================================================*/
.animation-dropIn {
  animation: dropIn 1s ease forwards;
  animation-delay: calc();
}
.animation-slideIn {
  animation: slideIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: calc();
}
.animation-fadeIn {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*========================================================================================================
Animation Delays
========================================================================================================*/
.animation-delay-100ms{
  animation-delay: 100ms;
}
.animation-delay-200ms{
  animation-delay: 200ms;
}
.animation-delay-300ms{
  animation-delay: 300ms;
}
.animation-delay-400ms{
  animation-delay: 400ms;
}
.animation-delay-500ms{
  animation-delay: 500ms;
}
.animation-delay-600ms{
  animation-delay: 600ms;
}
.animation-delay-700ms{
  animation-delay: 700ms;
}
.animation-delay-800ms{
  animation-delay: 800ms;
}
/*========================================================================================================
Keyframes
========================================================================================================*/
@keyframes dropIn {
  from {transform: translateY(-50px);}
  to { transform: translateY(0);}
}
@keyframes slideIn {
0% 
  { transform: translateX(-100px);
    opacity: 0; }
100% 
  { transform: translateX(0);
    opacity: 1; }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*========================================================================================================
========================================================================================================*/
